/* The integration's default injected global.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

html {
  font-family: Raleway, system-ui, sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

	/* raleway-200 - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 200;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-200.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-200.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* raleway-300 - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 300;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-300.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-300.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* raleway-regular - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-regular.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-regular.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* raleway-500 - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 500;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-500.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-500.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* raleway-700 - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-700.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-700.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* raleway-900 - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 900;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-900.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-900.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* raleway-200italic - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: italic;
		font-weight: 200;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-200italic.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-200italic.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* raleway-300italic - latin */
	@font-face {
		font-family: 'Raleway';
		font-style: italic;
		font-weight: 300;
		src: local(''),
			url('../../public/fonts/raleway-v28-latin-300italic.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../../public/fonts/raleway-v28-latin-300italic.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

