
/* The integration's default injected global.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem); 
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

html {
  font-family: Raleway, system-ui, sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}
