---
import MainContainer from "src/components/MainContainer.astro";
import Layout from "../components/Layout.astro";
import Avatar from "../images/avatar.jpeg";
---

<Layout title="Welcome to Astro Neumorphism template">
  <MainContainer>
    <div class="flex flex-col md:flex-row items-center space-x-4 shadow-box-up dark:shadow-orange-dark p-4 md:p-6 rounded-xl">
      <img
        class="p-1 mb-2 md:mb-0 w-40 h-40 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src={Avatar}
        alt="Bordered avatar"
      />
      <div class="font-medium dark:text-white">
        <div class="mb-2 md:mb-0">pabloLC</div>
        <div class="text-xs text-gray-500 dark:text-gray-400">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
        </div>
      </div>
    </div>
  </MainContainer>
</Layout>
