---
import IconButton from '../components/IconButton.astro';
import Layout from '../components/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="p-4 m-4 md:p-8 md:m-0 max-w-2xl md:min-w-2xl rounded-tr-2xl rounded-tl-lg rounded-b-lg shadow-main bg-gradient-main">
		<div class="p-2.5 ml-auto shadow-button-curved-default bg-button-curved-default hover:shadow-button-curved-pressed hover:bg-light-secondary w-[60px] h-[60px] rounded-full">


	
		</div>
		<div class="p-2.5 my-5 shadow-up w-full rounded-md">
			<IconButton
				srOnly="hi hi"
				type="button"
				svgName="home-default.svg"
			/>
		</div>
		<h1>Hi, I'm <span class="text-gradient bg-black text-2xxl font-[700]">Pablo</span></h1>
		<div class="p-2.5 my-5 shadow-up w-full rounded-md">
			<ul role="list" class="link-card-grid">
				<li class="link-card">
					<a href="https://astro.build/integrations/">
						<h2>Integrations <span>&rarr;</span></h2>
						<p>Add component frameworks, Tailwind, Partytown, and more!</p>
					</a>
				</li>
				<li class="link-card">
					<a href="https://astro.build/themes/">
						<h2>Themes <span>&rarr;</span></h2>
						<p>Explore a galaxy of community-built starters.</p>
					</a>
				</li>
			</ul>
		</div>
		<h1>Hi, I'm <span class="text-gradient bg-black text-2xxl font-[700]">Pablo</span></h1>
		<div class="p-2.5 my-5 shadow-up w-full rounded-md">
			hi hi
		</div>
	</main>
</Layout>

<style>
	:root {
		--color-border: hsl(17, 24%, 90%);
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);
		--link-gradient: linear-gradient(45deg, #4F39FA, #DA62C4 30%, var(--color-border) 60%);
		--night-sky-gradient: linear-gradient(0deg, #392362 -33%, #431f69 10%, #30216b 50%, #1f1638 100%);
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border-radius: 0.35rem;
		color: var(--text-color);
		background-color: white;
		opacity: 0.8;
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 {
		color: #4F39FA;
	}

	.link-card:is(:hover, :focus-within) h2 span {
		transform: translateX(2px);
	}

	.heart {
		display: inline-block;
		color: #DA62C4;
		animation: heartbeat 3s ease-in-out infinite;
	}

	@keyframes heartbeat {
		0%,
		50%,
		100% {
			transform: scale(1);
		}
		5% {
			transform: scale(1.125);
		}
		10% {
			transform: scale(1.05);
		}
		15% {
			transform: scale(1.25);
		}
	}
</style>
