---
import Layout from "../components/Layout.astro";
import MainCard from "src/components/MainCard.astro";
import MediumPost from "@components/MediumPost";
import MainContainer from "src/components/MainContainer.astro";
import ContainerScroll from "@components/ContainerScroll.astro";
import TextSlide from "src/components/TextSlide.astro";

---

<Layout title="Welcome to Astro Neumorphism template">
	<MainCard />

	<div class="hidden 2xl:block 2xl:overflow-auto no-scrollbar">
		<ContainerScroll>
			<MediumPost client:load />
		</ContainerScroll>
	</div>
	<div class="flex 2xl:hidden">
		<MainContainer>
			<TextSlide />
		</MainContainer>
	</div>
</Layout>
