---
import Layout from '../components/Layout.astro';
import { IconSun, IconGithub } from '../components/icons';
import RoundIconButton from '../components/RoundIconButton.astro';
import SquareIconLink from 'src/components/SquareIconLink.astro';
---

<Layout title="Welcome to Astro Neumorphism template">
	<main class="flex flex-col p-4 m-4 md:p-8 md:m-0 max-w-[40%] min-w-[40%] 2xl:min-w-[55%] 2xl:max-w-[55%] rounded-tr-2xl rounded-tl-lg rounded-b-lg bg-gradient-box-light shadow-sky-light dark:bg-box-dark dark:shadow-orange-dark">
		<div class="flex self-end w-fit px-1.25 py-1.25 shadow-switcher rounded-2xl dark:bg-buttons-box-dark dark:shadow-box-dark-out mb-3">
			<div class="dark:shadow-buttons-box-dark rounded-2xl w-full px-3 py-3">
				<RoundIconButton
					srOnly="Theme color switcher"
					type="button"
					onclick="window.toggleTheme()"
				>
					<IconSun />
				</RoundIconButton>
				<span class="mr-4"></span>
				<SquareIconLink
					title="link to GitHub"
					href="https://github.com/paablolc/"
					target="_blank"
				>
					<IconGithub />
				</SquareIconLink>
			</div>
		</div>

		<div class="p-2.5 my-5 shadow-up dark:shadow-box-dark dark:bg-box-dark w-full rounded-md">

		</div>
		<div class="text-center">
			<h2 class="text-5xl text-light-blue-dark md:text-3xl 2xl:text-6xl font-bold leading-tighter tracking-tighter dark:text-dark-blue-light">
				Your website with
			</h2>
			<h1 class="text-xl text-light-blue-light md:text-xl 2xl:text-3xl font-bold leading-tighter tracking-tighter mb-4 dark:text-dark-blue-light">
				Your website with
			</h1>
		</div>

		<div class="flex flex-col grow p-2.5 my-5 shadow-down min-h-max h-max dark:shadow-box-dark dark:bg-box-dark w-full rounded-md">

		</div>

		<div class="flex self-end w-fit px-1.25 py-1.25 shadow-box-up rounded-2xl mt-auto dark:bg-box-dark dark:shadow-box-dark-out">
			<div class="dark:shadow-buttons-box-dark rounded-2xl w-full px-3 py-3">
				<RoundIconButton
					srOnly="hi hi"
					type="button"
					onclick="window.toggleTheme()"
				>
					<IconSun />
				</RoundIconButton>

				<RoundIconButton
					srOnly="hi hi"
					type="button"
				>
					<IconGithub />
				</RoundIconButton>
				<RoundIconButton
					srOnly="hi hi"
					type="button"
				>
					<IconGithub />
				</RoundIconButton>
			</div>
		</div>
	</main>
</Layout>

<style>



	.heart {
		display: inline-block;
		color: #DA62C4;
		animation: heartbeat 3s ease-in-out infinite;
	}

	@keyframes heartbeat {
		0%,
		50%,
		100% {
			transform: scale(1);
		}
		5% {
			transform: scale(1.125);
		}
		10% {
			transform: scale(1.05);
		}
		15% {
			transform: scale(1.25);
		}
	}
</style>
