---
import Layout from "../components/Layout.astro";
import MainCard from "src/components/MainCard.astro";
import MediumPost from "@components/MediumPost";
import MainContainer from "src/components/MainContainer.astro";
import TextSlide from "@components/TextSlide.astro";
---

<Layout title="Welcome to Astro Neumorphism template">
	<MainCard />
	<div class="flex overflow-auto lg:hidden 2xl:block no-scrollbar">
		<MainContainer>
			<MediumPost client:visible />
		</MainContainer>
	</div>
	<div class="hidden lg:flex 2xl:hidden">
		<MainContainer>
			<TextSlide />
		</MainContainer>
	</div>
</Layout>
