---
import Layout from '../components/Layout.astro';
import { IconSun, IconGithub } from '../components/icons';
import RoundIconButton from '../components/RoundIconButton.astro';
import SquareIconLink from 'src/components/SquareIconLink.astro';
---

<Layout title="Welcome to Astro Neumorphism template">
	<main class="flex flex-col p-4 m-4 md:p-8 md:m-0 max-w-2xl md:min-w-2xl rounded-tr-2xl rounded-tl-lg rounded-b-lg shadow-main bg-gradient-main dark:bg-box-dark dark:shadow-box-dark">
		<div class="flex self-end w-fit px-1.25 py-1.25 shadow-box-up rounded-2xl dark:bg-buttons-box-dark dark:shadow-box-dark-out mb-3">
			<div class="dark:shadow-buttons-box-dark rounded-2xl w-full px-3 py-3">
				<RoundIconButton
					srOnly="hi hi"
					type="button"
					onclick="window.toggleTheme()"
				>
					<IconSun />
				</RoundIconButton>

				<SquareIconLink
					title="link to GitHub"
					href="https://github.com/paablolc/"
					target="_blank"
				>
					<IconGithub />
				</SquareIconLink>

			</div>
		</div>

		<div class="p-2.5 my-5 shadow-up dark:shadow-box-dark dark:bg-box-dark w-full rounded-md">
			<ul role="list" class="link-card-grid">
				<li class="link-card">
					<a href="https://astro.build/integrations/">
						<h2>Integrations <span>&rarr;</span></h2>
						<p>Add component frameworks, Tailwind, Partytown, and more!</p>
					</a>
				</li>
				<li class="link-card">
					<a href="https://astro.build/themes/">
						<h2>Themes <span>&rarr;</span></h2>
						<p>Explore a galaxy of community-built starters.</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="text-center pb-12 md:pb-16">
			<h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 dark:text-slate-400">
				Your website with
			</h1>
		</div>

		<div class="flex self-end w-fit px-1.25 py-1.25 shadow-box-up rounded-2xl mt-auto dark:bg-box-dark dark:shadow-box-dark-out">
			<div class="dark:shadow-buttons-box-dark rounded-2xl w-full px-3 py-3">
				<RoundIconButton
					srOnly="hi hi"
					type="button"
					onclick="window.toggleTheme()"
				>
					<IconSun />
				</RoundIconButton>

				<RoundIconButton
					srOnly="hi hi"
					type="button"
				>
					<IconGithub />
				</RoundIconButton>
				<RoundIconButton
					srOnly="hi hi"
					type="button"
				>
					<IconGithub />
				</RoundIconButton>
			</div>
		</div>
	</main>
</Layout>

<style>

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border-radius: 0.35rem;
		color: var(--text-color);
		background-color: white;
		opacity: 0.8;
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 {
		color: #4F39FA;
	}

	.link-card:is(:hover, :focus-within) h2 span {
		transform: translateX(2px);
	}

	.heart {
		display: inline-block;
		color: #DA62C4;
		animation: heartbeat 3s ease-in-out infinite;
	}

	@keyframes heartbeat {
		0%,
		50%,
		100% {
			transform: scale(1);
		}
		5% {
			transform: scale(1.125);
		}
		10% {
			transform: scale(1.05);
		}
		15% {
			transform: scale(1.25);
		}
	}
</style>
