---
import IconCustom from "./IconCustom.astro";

export interface Props {
	srOnly: string;
  type: string;
  svgName: string;
}

// import svgReference from '../../assets/home-pressed.svg';

const {svgName, type, srOnly} = Astro.props as Props;

---

<button type={type} class="text-black border-2 border-transparent bg-light-secondary shadow-button-flat-nopressed hover:bg-gradient-main hover:border-2 hover:shadow-button-flat-pressed focus:opacity-100 focus:outline-none active:border-2 active:shadow-button-flat-pressed font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2">
  <IconCustom
    svgName={ svgName }
    svgWidth= '35px'
    svgHeight= '35px'
  />
  <span class="sr-only"> {srOnly} </span>
</button>
