---
---

<div
  class="flex flex-col grow p-2 md:p-4 2xl:p-8 my-2 md:my-4 shadow-box-down-light box-decoration-slice dark:shadow-box-dark dark:bg-box-dark w-full rounded-md max-h-fit justify-center"
>
  <slot />
</div>
