---
---

<div class="flex font-thin text-light-blue-dark dark:text-dark-blue-light px-6">
  <div class="relative scroller w-16 overflow-hidden">
    <span class="absolute top-0 tracking-wide font-black animate-slide-text">
      Build<br />
      Code<br />
      Create<br />
      Design
    </span>
  </div>
  <div>for everyone</div>
</div>
