---
---

<div class="flex font-thin text-light-blue-dark dark:text-dark-blue-light">
  <div class="scroller">
    <span>
      Build<br />
      Code<br />
      Create<br />
      Design
    </span>
  </div>
  <div>for everyone</div>
</div>
